<%- layout('layouts/main.ejs') %>
<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="insert email">
    <input type="password" name="password" placeholder="insert password">

    <button type="submit">
        SignIn

    </button>
</form>