<%- layout('layouts/main.ejs') %>
<form action="/signup" method="POST">
    <input type="email" name="username" placeholder="insert email">
    <input type="password" name="password" placeholder="insert password">

    <button type="submit">
        SignUp

    </button>
</form>